<h1>New Journal Entry for <%= Place.find(params[:place_id])["name"] %></h1>

<%= form_with url: entries_path, method: :post do |form| %>
  <%= hidden_field_tag :place_id, params[:place_id] %>

  <div>
    <label>Title</label>
    <%= form.text_field :title %>
  </div>

  <div>
    <label>Description</label>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit "Save Entry" %>
  </div>
<% end %>

<a href="/">Back to Places</a>
